body{
    margin:0;
    font-family: "Raleway";
    padding: 0;
    height: 100vh;
    background-image: url('https://img.freepik.com/free-vector/bokeh-lights-effect-dark-background_23-2148415288.jpg?size=626&ext=jpg&ga=GA1.2.857723555.1689163398&semt=ais');
    background-size:cover;
    background-repeat: no-repeat;
}
.dark{
    background-color: black;
    color: white;
}
.MuiInputBase-input  {
    background: white;
  }
  
  .MuiTextField-root {
    background: white;
  }